<!DOCTYPE html>
<html>
<head>
    <title>Happy Birthday!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Happy Birthday!</h1>
    <p>Dear Archiiiiii,</p>
    <p>Wishing you a fantastic birthday filled with joy and happiness! , you are very most soecial good best and important bestfriend in my life , and your are the most strongest bestiiii i have eveer seen and th  cry baby tooo but even thoo  u matter so much you are the most intelligent girl and very calmest and angriest like a cattyyy</p>
    <img src="/images/download.jpeg" alt="" srcset="">
    <p>the best thing is you very supportive friend and helpy person you support everyone and there for them whenever someone is needed your help </p>
    <img src="/images/support.jpeg" alt="" srcset="">
    <p>and you are very much good in nature while talking , listening and speaking you deserve a good and the better future life </p>
    <img src="/images/nature.jpeg" alt="">
    <p>and the very most religius girl i have ever seen who loves god and the god loves you back</p>
    <img src="/images/hijab.jpeg" alt="">
    <p>and you are the very smiley friendly and lamy person</p>
    <img src="/images/smiley.jpeg" alt="">
    <p>Best wishes,<br>Your Name</p>
</body>
</html>
